@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<<<<<<< HEAD
    <h1>Buy Nortel Phone</h1>
    <p class="lead">For Assignment 8.</p>
    <p><a href="http://petermcintyre.com/bti420/graded-work/assign8/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
=======
    <h1>Y.R Distributions</h1>
    <p class="lead">For Source Code.</p>
    <p><a href="https://github.com/buttersnipps/WebStoreProject" target="_blank" class="btn btn-primary btn-lg">Source Code &raquo;</a></p>
>>>>>>> master
</div>

<div class="row">
    <div class="col-md-4">
        <h2>More To Come</h2>
        <p>Please read the assignment specifications.</p>
    </div>
</div>