@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Buy Nortel Phones</h1>
    <p class="lead">For Source Code.</p>
    <p><a href="https://github.com/buttersnipps/WebStoreProject" target="_blank" class="btn btn-primary btn-lg">Source Code &raquo;</a></p>

</div>

<div class="row">
    
        <h3>The perfect phone is just one click away </h3>
      
    
</div>