@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Y.R Distributions</h1>
    <p class="lead">For Source Code.</p>
    <p><a href="https://github.com/buttersnipps/WebStoreProject" target="_blank" class="btn btn-primary btn-lg">Source Code &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>More To Come</h2>
        <p>Please read the assignment specifications.</p>
    </div>
</div>