@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<<<<<<< HEAD
<<<<<<< HEAD
    <h1>Buy Nortel Phone</h1>
    <p class="lead">For Assignment 8.</p>
    <p><a href="http://petermcintyre.com/bti420/graded-work/assign8/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
=======
    <h1>Y.R Distributions</h1>
    <p class="lead">For Source Code.</p>
    <p><a href="https://github.com/buttersnipps/WebStoreProject" target="_blank" class="btn btn-primary btn-lg">Source Code &raquo;</a></p>
>>>>>>> master
=======
    <h1>Buy Nortel Phones</h1>
    <p class="lead">Commercial Phones at Reasonable Prices.</p>
    <p><a href="#">@Html.ActionLink("List of all products", "Index", "Product")</a></p>
>>>>>>> 686da98ab3500e7e28432fe9da5db260a6e19d2c
</div>

<div class="row">
    
        <h3>The perfect phone is just one click away </h3>
      
    
</div>