@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Buy Nortel Phones</h1>
    <p class="lead">Commercial Phones at Reasonable Prices.</p>
    <p><a href="#">@Html.ActionLink("List of all products", "Index", "Product")</a></p>
</div>

<div class="row">
    
        <h3>The perfect phone is just one click away </h3>
      
    
</div>